.nav-logo {
    width: 50px;
    height: 60px;
}

#domain_banner {
    width: 800px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#domain_cards {
    margin-top: 20px;
}

#white_logo {
    margin-left: 50px;
}

.rounded_btn {
    border-radius: 25px;
    background-color: white !important;
    color: black !important;
    font-family: 'Nunito';
}

.card2 {
    width: 200px;
    /* Set the width of the card to 300 pixels */
    height: 250px !important;
    /* Set the height of the card to 400 pixels */
    background-color: black !important;
    color: white !important;
    border-radius: 30px;
}

.card {
    width: 200px;
    height: 250px !important;
    background-color: black !important;
    color: white !important;
    border-radius: 30px;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.offer {
    font-size: 20px;
    font-family: 'Nunito';
}

.card-title {
    font-family: 'Inter';
    font-size: 20px;
}

.my-nav {
    background-color: black;
    padding-left: 20px;
    font-family: 'Nunito';
    font-size: 16px;
    color: white;
}

.navbar-nav .nav-item:hover .nav-link {
    color: rgb(128, 128, 128);
}

.nav-text {
    color: white;
}

.active {
    color: rgb(128, 128, 128) !important;
}

.green-outline {
    border: 4px solid #49DB84;
    border-radius: 0.25rem;
    box-shadow: 3px 5px #888888;
}

.purple-outline {
    border: 4px solid #8C7BFF;
    border-radius: 0.25rem;
    box-shadow: 3px 5px #888888;
}

.footer-text {
    padding: 0;
    margin: 0
}

#search-input {
    background-color: black !important;
    color: white !important;
    font-size: 20px;
}

#maillist-input {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
    font-size: 16px;
    font-family: 'Nunito';
}

.rubik-text {
    font-family: 'Rubik One';
    font-size: 60px;
}

.monda-text {
    font-family: 'Monda';
    font-size: 40px;
    font-style: bold;
}

.hosting_plan_cards {
    width: 200px;
    height: 350px !important;
    background-color: black !important;
    color: white !important;
    border-radius: 30px;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.bussines_plan_cards {
    width: 200px;
    height: 470px !important;
    background-color: black !important;
    color: white !important;
    border-radius: 30px;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.hind-madurai {
    font-family: 'Hind Madurai';
    font-size: 20px;
}

.ms-n5 {
    margin-left: -50px;
    margin-top: 8px;
}

.notification-container {
    background-color: #ABABAB;
    font-family: 'Roboto Mono';
    font-size: 40px;
    height: 300px;
}

.footer {
    background-color: #000000;
    color: white !important;
    height: 150px;
    font-family: 'Nunito';
    font-size: 16px;
}

.icon-row {
    display: flex;
    align-items: center;
}

.icon-row i {
    margin-right: 30px;
    font-size: 24px;
}

.container_me {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.ja {
    position: relative;
    animation: slide-in 3s forwards;
    height: 900px;
}

.text-container {
    position: relative;
    animation: slide-in 3s forwards;
    margin-left: 50px;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}